.ListCategories {
  align-items: flex-start;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-right: 10px;
  padding: 15px;
  width: fit-content;

}

h2 {
  font-size: 16px;
  font-weight: 400;
}

li {
  list-style: none;
  margin: 5px;
}

