.ProductCard {
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-top: 0;
  width: 200px;
}

.title {
  background-color: rgb(216, 216, 216);
  border-radius: 15px 15px 0 0;
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;

}

img {
  justify-self: flex-end;
  margin-bottom: 5px;
  width: 100px;
}
