* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pageContainer {
  display: flex;
  height: 100vh;
  padding: 20px;
  width: 100vw;
}

.SearchList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.SearchList-container-cards {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px;
}

form {
  align-items: center;
  padding: 0 5px;
  text-align: center;
}

form input {
  border-radius: 30px;
  font-size: 18px;
  margin: 0 5px 20px;
  padding: 5px;
  text-align: center;
  width: 80%;
}
