.App {
  border: 1px solid black;
}

.App-cart-icon {
  align-items: center;
  border: 1px solid black;
  display: flex;
  font-size: 2.5rem;
  height: 50px;
  justify-content: center;
  width: 50px;
}
